<form action="/new_invoice" method="POST">
  <p>
    <input type="text" name="title" value="" placeholder=""/>
    <input type="text" name="title" value="" placeholder=""/>
    <input type="text" name="title" value="" placeholder=""/>
    <input type="text" name="title" value="" placeholder=""/>
    <input type="submit" value="Create"/>
  </p>
  <input type="submit" value="Submit"/>
</form>
